body{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 80%;
    height: auto;
    text-align: center;
}
.content table{
    text-align: center;
    border: 1px solid black;
}

.bug-form{
    margin-top: 50px;
}

.form-group{
    text-align : left;
}

.button-submit{
    text-align: center;
    max-width: 100%;
}

.spacer{
    height: 50px;
}

th{
    width: 25%;
}